<!-- Main -->
<div id="main-wrapper">
    <div class="container">
      <div class="row">
                <div class="12u">
              <section>
                <header class="major">
                  <h2>What's this all about?</h2>
                </header>
                <a href="#" class="image featured"><img src="assets/images/pic10.jpg" alt="" /></a>
                <p>
                  <strong>Bitch Please</strong> is a hip-hop and house club night that has been running for the past 3 years
                </p>
                <footer>
                  <a href="#" class="button">Find out more</a>
                </footer>

              </section>
            </div>

          </div>
        </div>
    </div>
</div>