<!-- Main -->
<div id="main-wrapper">
    <div class="container">
      <div class="row">
                <div class="12u">

            <!-- Blog -->
              <section>
                <header class="major">
                  <h2>Our Blog</h2>
                </header>
                <div class="row">
                   {{#each}}
                  <div class="4u">
                    <section class="box">
                      <a href="#" class="image featured"><img src="assets/images/pic08.jpg" alt="" /></a>
                      <header>
                        <h3>{{{post_title}}}</h3>
                        <p>{{post_date}}</p>
                      </header>
                      <p>{{{post_body}}}</p>
                      <footer>
                        <ul class="actions">
                          <li><a href="{{unbound post_url}}" target="_blank" class="button icon fa-file-text">More</a></li>
                        </ul>
                      </footer>
                    </section>
                  </div>
                  {{/each}}
                </div>
              </section>

          </div>
        </div>
    </div>
</div>