<!-- Main -->
<div id="main-wrapper">
    <div class="container">
      <div class="row">
                <div class="12u">
                <header class="major">
                  <h2>Upcoming Events</h2>
                </header>
                <ul class="dates">
                  <li>
                    <span class="date">Sep <strong>4</strong></span>
                    <h3><a href="#">Bitch Please - Dame Lane</a></h3>
                    <p>Bitch Please will be running from our new location in 4 Dame Lane.</p>
                  </li>
                  <li>
                    <span class="date">Oct <strong>6</strong></span>
                    <h3><a href="#">Bitch Please - Dame Lane</a></h3>
                    <p>Bitch Please will be running from our new location in 4 Dame Lane.</p>
                  </li>
                  <li>
                    <span class="date">Nov <strong>10</strong></span>
                    <h3><a href="#">Bitch Please - Dame Lane</a></h3>
                    <p>Bitch Please will be running from our new location in 4 Dame Lane.</p>
                  </li>
                  <li>
                    <span class="date">Dec <strong>17</strong></span>
                    <h3><a href="#">Bitch Please - Dame Lane</a></h3>
                    <p>Bitch Please will be running from our new location in 4 Dame Lane.</p>
                  </li>
                </ul>

          </div>
        </div>
    </div>
</div>