<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u">
              <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/163224397&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
              <!-- Portfolio -->
                <section>
                  <header class="major">
                    <h2>Our Music</h2>
                  </header>
                  <div class="row">
                    <div class="4u">
                      <section class="box">
                        <a href="#" class="image featured"><img src="assets/images/pic05.jpg" alt="" /></a>
                        <header>
                          <h3>House</h3>
                        </header>
                        <p>House music</p>
                        <footer>
                          <a href="#" class="button alt">Find out more</a>
                        </footer>
                      </section>
                    </div>
                    <div class="4u">
                      <section class="box">
                        <a href="#" class="image featured"><img src="assets/images/pic06.jpg" alt="" /></a>
                        <header>
                          <h3>Hip Hop</h3>
                        </header>
                        <p>Hip hop</p>
                        <footer>
                          <a href="#" class="button alt">Find out more</a>
                        </footer>
                      </section>
                    </div>
                    <div class="4u">
                      <section class="box">
                        <a href="#" class="image featured"><img src="assets/images/pic07.jpg" alt="" /></a>
                        <header>
                          <h3>Dance</h3>
                        </header>
                        <p>Dance music.</p>
                        <footer>
                          <a href="#" class="button alt">Find out more</a>
                        </footer>
                      </section>
                    </div>
                  </div>
                </section>
            </div>
          </div>
    </div>
</div>